*
{
  margin: 0;
  padding: 0;
}
.backimage
{
    opacity: 0.25;
    position: absolute;
    z-index: -1;
}
body
{
    background-color: black;
}
.logo
{
    margin-top: 50px;
    margin-left: 500px;
    border-radius: 6px;
}
.back
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 25px;
    font-weight: 700;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    background: transparent;
}
a
{
  text-decoration: none;
  color: white;
}
.poster
{
    padding: 0;
    margin-top: 150px;
    margin-left: 40px;
    border-radius: 15px;
    display: inline;
    float: left;
}
h2
{
    color: white;
    margin-top: 160px;     
    margin-left: 380px;
    font-family: Arial, Helvetica, sans-serif;
}
.details
{
    color: white;
    margin-top: 10px;     
    margin-left: 400px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.download
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: 700;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 10px;
}
p
{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
    margin-left: 640px;
    margin-bottom: 70px;
    font-weight: 700;
}
iframe
{
    border-radius: 10px;
    margin-left: 140px;
}
h4
{
    margin-top: 250px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h6
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;  
    margin-bottom: 100px;
}
.under
{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 80px;
}
li
{
    padding: 10px;
}
